.btn_up {
  position: fixed;
  top: 100%;
  right: 2rem;
  border-radius: 50%;
  box-shadow:  rgb(99, 99, 99) 0px 0px 2px 0px;
  width: 40px; 
  height: 40px;
  z-index: 3;
  background-color: #fff;
  transition: .2s top;

  @media screen and (max-width: 850px) {
    display: none;
  }

  &.show {
    top: calc(100% - 40px - 2rem);
  }

  &--img {
    width: 30px;
    height: 30px;
  }
}