@import url("../../assets/fonts/fonts.scss");

body {
  font-family: "Source Sans 3", sans-serif;
}

body, #root {
  height: 100dvh;
}

#root {
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  margin: auto;
  width: 1200px;
}